.clothe {
  height: 100vh;
  display: grid;
  place-content: center;
  padding: 94px 24px 12px;
}

.clothe_card_container {
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 405px;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 1.47px 11.04px rgba(0,0,0,.2)!important;
  overflow: hidden;
}

.clothe_card_container_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.clothe_card_container_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2)!important;
}

.clothe_card_container_all_info {
  width: 100%;
  height: 100%;
}

.clothe_card_container_info {
  width: 100%;
  height: 60px;
  padding: 12px 24px;
  
  box-shadow: 0 1.47px 11.04px rgba(0,0,0,.2)!important;
}

.clothe_card_container_info h1 {
  font-family: myFontFreeBold;
  color: #000;
  font-size: 17px;
  font-weight: 400;
  line-height: 1;
}

.clothe_card_container_info h2 {
  font-family: myFontFreeLight;
  font-size: 15px;
  font-weight: 400;
  color: #7a7a7a;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.clothe_card_container_price_info {
  font-family: myFontLight;
  padding: 10px 20px;
  width: 100%;
  height: 345px;
}

.clothe_card_container_price_info span {
  font-family: myFontFreeLight;
  color: #7a7a7a;
}

.display_container {
  width: 100%;
}

.button_container {
  width: 100%;
  height: 36px;
  margin-top: 20px;
}

.price_button {
  padding: 0 16px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.clothe_card_container_info_heart img{
  width: 18px;
  height: 18px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .clothe_card_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
  }

  .clothe_card_container_image {
    width: 100%;
    height: 70%;
  }

  .clothe_card_container_all_info {
    width: 100%;
    height: auto;
  }

  .clothe_card_container_price_info {
    width: 100%;
    height: 100%;
  }
}