@font-face {
  font-family: myFontBlack;
  src: url('./assets/fonts/black.ttf');
}

@font-face {
  font-family: myFontLight;
  src: url('./assets/fonts/light.otf');
}

@font-face {
  font-family: myFontSuperLight;
  src: url('./assets/fonts/superLight.ttf');
}

@font-face {
  font-family: myFontFreeLight;
  src: url('./assets/fonts/FreeSans.ttf');
}

@font-face {
  font-family: myFontFreeBold;
  src: url('./assets/fonts/FreeSansBold.otf');
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c0bebe;
}
